.button {
    background-color: transparent;
    border: 1px solid #9393b9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #9393b9;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 1rem;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #4444af;
    color: white;
}